.sectionHeader {
  margin-bottom: 40px;
}

.iconWrapper {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.iconImg {
  width: 36px;
  height: 36px;
  border-radius: 8px;
}

.title {
  color: #2F2F3C;
  font-family: Geist, DM Sans, Arial, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.72px;
  font-variant-numeric: lining-nums tabular-nums;
  margin-bottom: 8px;
}

.description {
  color: #413F50;
  font-family: Geist, DM Sans, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
}

[data-theme="dark"] .title {
  color: white;
}

[data-theme="dark"] .description {
  color: white;
}
